.video {
    background-color: black;
    border-radius: 30px;
    height: 500px;
    width: 600px;
    box-shadow : 3px 3px 10px grey;
    float : right;
    margin-right : 30px;
    font-size : 45px;
    color: white;
    font-weight: 700;
    line-height: 200px;
    text-align : center;
}

.picture {
    border-radius: 30px;
    box-shadow : 3px 3px 10px grey;
    margin-left : 30px;
    height : 500px;
    width: 700px;
}

a:visited {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}
